.productCard {
  width: 18rem;
  margin-left: 50px;
  margin-bottom: 50px;

  img {
    height: 250px;
    width: 250px;
    margin: auto;
  }

  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3rem;
  }

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 3rem;
  }

  &.skeleton {
    height: 440px;
  }

}