---
---

@import "{{ site.theme }}";
.main-content {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

.accordion-item {
  background-color: transparent;
  border: 0;
}

.accordion-button {
  padding: 0.25rem;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}